In [ ]:
!pip install ipython-sql
!pip install sqlalchemy==1.3.9
import sqlalchemy
%load_ext sql

Requirement already satisfied: ipython-sql in /usr/local/lib/python3.10/dist-packages (0.4.1)
Requirement already satisfied: prettytable<1 in /usr/local/lib/python3.10/dist-packages (from ipython-sql) (0.7.2)
Requirement already satisfied: ipython>=1.0 in /usr/local/lib/python3.10/dist-packages (from ipython-sql) (7.34.0)
Requirement already satisfied: sqlalchemy>=0.6.7 in /usr/local/lib/python3.10/dist-packages (from ipython-sql) (2.0.16)
Requirement already satisfied: sqlparse in /usr/local/lib/python3.10/dist-packages (from ipython-sql) (0.4.4)
Requirement already satisfied: six in /usr/local/lib/python3.10/dist-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils>=0.1.0 in /usr/local/lib/python3.10/dist-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: setuptools>=18.5 in /usr/local/lib/python3.10/dist-packages (from ipython>=1.0->ipython-sql) (67.7.2)
Collecting jedi>=0.16 (from ipython>=1.0->ipython-sql)
  Downloading jedi-0.18.2-py2.py3-none-any.whl (1.6 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.6/1.6 MB 20.9 MB/s eta 0:00:00
Requirement already satisfied: decorator in /usr/local/lib/python3.10/dist-packages (from ipython>=1.0->ipython-sql) (4.4.2)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.10/dist-packages (from ipython>=1.0->ipython-sql) (0.7.5)
Requirement already satisfied: traitlets>=4.2 in /usr/local/lib/python3.10/dist-packages (from ipython>=1.0->ipython-sql) (5.7.1)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /usr/local/lib/python3.10/dist-packages (from ipython>=1.0->ipython-sql) (3.0.38)
Requirement already satisfied: pygments in /usr/local/lib/python3.10/dist-packages (from ipython>=1.0->ipython-sql) (2.14.0)
Requirement already satisfied: backcall in /usr/local/lib/python3.10/dist-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: matplotlib-inline in /usr/local/lib/python3.10/dist-packages (from ipython>=1.0->ipython-sql) (0.1.6)
Requirement already satisfied: pexpect>4.3 in /usr/local/lib/python3.10/dist-packages (from ipython>=1.0->ipython-sql) (4.8.0)
Requirement already satisfied: typing-extensions>=4.2.0 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy>=0.6.7->ipython-sql) (4.6.3)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy>=0.6.7->ipython-sql) (2.0.2)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in /usr/local/lib/python3.10/dist-packages (from jedi>=0.16->ipython>=1.0->ipython-sql) (0.8.3)
Requirement already satisfied: ptyprocess>=0.5 in /usr/local/lib/python3.10/dist-packages (from pexpect>4.3->ipython>=1.0->ipython-sql) (0.7.0)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.10/dist-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=1.0->ipython-sql) (0.2.6)
Installing collected packages: jedi
Successfully installed jedi-0.18.2
Collecting sqlalchemy==1.3.9
  Downloading SQLAlchemy-1.3.9.tar.gz (6.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 6.0/6.0 MB 55.0 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Building wheels for collected packages: sqlalchemy
  Building wheel for sqlalchemy (setup.py) ... done
  Created wheel for sqlalchemy: filename=SQLAlchemy-1.3.9-cp310-cp310-linux_x86_64.whl size=1207943 sha256=1b1371d7cc09d617a2022b74b1ca309ffac30636b45ee6f5ec4504f5691f4e13
  Stored in directory: /root/.cache/pip/wheels/8b/6d/9c/e1793e5a2d85b89b8c362a4f0e3def54b786bcd14923b9ff00
Successfully built sqlalchemy
Installing collected packages: sqlalchemy
  Attempting uninstall: sqlalchemy
    Found existing installation: SQLAlchemy 2.0.16
    Uninstalling SQLAlchemy-2.0.16:
      Successfully uninstalled SQLAlchemy-2.0.16
Successfully installed sqlalchemy-1.3.9

In [ ]:
%%capture
%load_ext sql
%reload_ext sql
%sql sqlite:///coursera_crime_data.db

In [ ]:
# Problem 1: Find the total number of crimes recorded in the CRIME table.
%%sql
SELECT COUNT(*) AS TOTAL_CRIMES FROM ChicagoCrimeData

 * sqlite:///coursera_crime_data.db
Done.

[(533,)]

In [ ]:
# Problem 2: List community areas with per capita income less than 11000.
%%sql
SELECT COMMUNITY_AREA_NAME FROM ChicagoCensusData WHERE PER_CAPITA_INCOME<11000

 * sqlite:///coursera_crime_data.db
Done.

[('West Garfield Park',),
 ('South Lawndale',),
 ('Fuller Park',),
 ('Riverdale',)]

In [ ]:
# Problem 3: List all case numbers for crimes involving minors?
%%sql
SELECT CASE_NUMBER FROM ChicagoCrimeData
WHERE PRIMARY_TYPE LIKE '%MINOR%'
OR DESCRIPTION LIKE '%MINOR%'

 * sqlite:///coursera_crime_data.db
Done.

[('HL266884',), ('HK238408',)]

In [ ]:
# Problem 4: List all kidnapping crimes involving a child?(children are not considered minors for the purposes of crime analysis)
%%sql
SELECT CASE_NUMBER FROM ChicagoCrimeData WHERE PRIMARY_TYPE = "KIDNAPPING" AND DESCRIPTION LIKE '%CHILD%'

 * sqlite:///coursera_crime_data.db
Done.

[('HN144152',)]

In [ ]:
# Problem 5: What kind of crimes were recorded at schools?
%%sql
SELECT DISTINCT(PRIMARY_TYPE) FROM ChicagoCrimeData WHERE LOCATION_DESCRIPTION LIKE '%SCHOOL%'

 * sqlite:///coursera_crime_data.db
Done.

[('BATTERY',),
 ('CRIMINAL DAMAGE',),
 ('NARCOTICS',),
 ('ASSAULT',),
 ('CRIMINAL TRESPASS',),
 ('PUBLIC PEACE VIOLATION',)]

In [ ]:
# Problem 6: List the average safety score for all types of schools.
%%sql
SELECT ElementaryMiddleorHighSchool AS ES_MS_HS, ROUND(AVG(SAFETY_SCORE),2) AS Avg_Safety_Score
FROM ChicagoPublicSchools GROUP BY ElementaryMiddleorHighSchool

 * sqlite:///coursera_crime_data.db
Done.

[('ES', 49.52), ('HS', 49.62), ('MS', 48.0)]

In [ ]:
# Problem 7: List 5 community areas with highest % of households below poverty line.
%%sql
SELECT COMMUNITY_AREA_NAME FROM ChicagoCensusData ORDER BY PERCENT_HOUSEHOLDS_BELOW_POVERTY DESC LIMIT 5

 * sqlite:///coursera_crime_data.db
Done.

[('Riverdale',),
 ('Fuller Park',),
 ('Englewood',),
 ('North Lawndale',),
 ('East Garfield Park',)]

In [ ]:
# Problem 8: Which community area(number) is most crime prone?
%%sql
SELECT COMMUNITY_AREA_NUMBER FROM ChicagoCrimeData
GROUP BY COMMUNITY_AREA_NUMBER ORDER BY COUNT(COMMUNITY_AREA_NUMBER)
DESC LIMIT 1

 * sqlite:///coursera_crime_data.db
Done.

[(25,)]

In [ ]:
# Problem 9: Use a sub-query to find the name of the community area with highest hardship index.
%%sql
SELECT COMMUNITY_AREA_NAME FROM ChicagoCensusData
WHERE HARDSHIP_INDEX = (SELECT MAX(HARDSHIP_INDEX) FROM ChicagoCensusData)

 * sqlite:///coursera_crime_data.db
Done.

[('Riverdale',)]

In [ ]:
# Problem 10: Use a sub-query to determine the Community Area Name with most number of crimes?
%%sql
SELECT COMMUNITY_AREA_NAME FROM ChicagoCensusData WHERE COMMUNITY_AREA_NUMBER IN
(SELECT COMMUNITY_AREA_NUMBER FROM ChicagoCrimeData
GROUP BY COMMUNITY_AREA_NUMBER ORDER BY COUNT(*) DESC LIMIT 1)

 * sqlite:///coursera_crime_data.db
Done.

[('Austin',)]